*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}
.h_top {
  background-color: black;
  color:white;
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin: -10px p
}
.h_top p {
  padding:0 200px;
}
.h_top a{
  color:white;
  text-decoration:none;
  padding: 20px;
}
.h_top ul{ display:flex;
  padding:20px 200px;
  background-color: black;
}
.h_top ul li a{
  border: 1px solid white;
  font-size: 15.2px;
}
.h_center{
  background-color:antiquewhite;
  
}

.h_center nav {
    display:flex;
    justify-content:space-between;
    padding:20px 200px;
}

.h_center .hometitle {
  display:flex;
  align-items:center;
  
  
}

.h_center .menu ul {
  display:flex;
  justify-content: space-between;
  padding:0 100px;
}

.h_center .menu ul li {
  padding:10px;

}
.h_center nav .icon {
  display:flex;
  justify-content: space-between;
}
.h_center nav .icon a {
  padding:  10px 20px;
}

.h_center ul li:nth-child(1) { 
  color:rgb(36, 86, 194);
}  